<div class="container">
    <main>
        <div class="text-center">
            <h2>Energy consumption</h2>
        </div>
        <hr class="my-4" />

        <div class="row g-5">
            <div class="col-md-5 col-lg-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-success">
                        <h3 class="my-0 fw-normal">Tariff</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="consumptionForm" (ngSubmit)="onFormSubmit()" novalidate>
                            <label for="consumption" class="form-label">Consumption (kWh/year)</label>
                            <input
                                type="number"
                                min="0"
                                class="form-control"
                                id="consumption"
                                required
                                formControlName="consumption"
                            />

                            <div
                                *ngIf="
                                    consumptionForm.controls['consumption']
                                        .invalid &&
                                    (consumptionForm.controls['consumption']
                                        .dirty ||
                                        consumptionForm.controls['consumption']
                                            .touched)
                                "
                                class="danger"
                            >
                                <div
                                    *ngIf="
                                        consumptionForm.controls['consumption']
                                            .errors.required
                                    "
                                >
                                    *consumption is required and must be a number.
                                </div>
                            </div>

                            <hr class="my-4" />
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 order-md-last">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Tariff Comparison</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group mb-3">
                            <li
                                class="list-group-item d-flex justify-content-between lh-sm"
                                *ngFor="let consumption of consumptionData"
                            >
                                <div>
                                    <small class="text-body-secondary">{{ consumption.tariffName }}</small>
                                </div>
                                <span class="text-body-secondary">
                                    <span class="cost">Annual cost: </span>
                                    {{  consumption.annualCosts +' €'}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>
